html {
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Arial";
    color: #252525;
}

main {
    width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: "Times New Roman";
    font-size: 8rem;
    margin-top: 4rem;
}

.title__description {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.title__description > * {
    margin-right: 1rem;
}

.title__description * {
    color: #707070;
}

.container {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.container__column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.container__column > * {
    margin-bottom: 3rem;
}

.container__column > section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
}

.container__column > section > * {
    margin-bottom: 1rem;
}

.section-note {
    background-color: #252525;
    color: #bbb;
    padding: 3rem;
    border-radius: .5rem;
    width: 100%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    letter-spacing: .1rem;
    box-sizing: border-box;
    /*font-size: 1.25rem;*/
}

input[type="text"], button {
    padding: .5rem 1rem;
    border: none;
    border-radius: .3rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    outline: none;
}

button {
    background-color: #252525;
    color: white;
    cursor: pointer;
    padding: .5rem 2rem;
}

a {
    text-decoration: none;
    color: #1964cc !important;
}

label {
    font-weight: 700;
}

.yellow-text {
    color: #e4bc68
}

.green-text {
    color: #6a8759;
}

.orange-text {
    color: #cc7832;
}